/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/public/assets/js/gantt/
.DS_Store
public/.DS_Store
public/assets/.DS_Store
public/assets/js/.DS_Store
/resources/views/auth/register.blade copy.php
/resources/views/layouts/auth.blade copy.php