
.nav-sidebar {
    margin: 10px 0px;
}
.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.text-sidebar {
  color: #6b6b6b;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  background: #fafbfc;
  color: #6b6b6b;
  transition: all 0.3s;
  box-shadow: 0px 0px 1px 1px #ccc;
  float: left;
}



#sidebar .sidebar-header {
  padding: 20px;
  background: #e5b200;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #fff;
  display: block;
  position: relative;
}

#sidebar ul p {
  color: #6b6b6b;
  padding: 10px;
}

#sidebar ul li a {
padding: 20px;
    font-size: 0.94em;
     color: #fff;
    display: flex;
    /* align-items: center; */
    justify-content: start;
    line-height: 33px;
}
#sidebar ul li{
    margin: 0 0 0px;
}
#sidebar ul li .icon {
  font-size: 20px;
  margin-right: 5px;
}
#sidebar ul li a:hover {
    color: #000;
    background: #fff;
    text-decoration: none;
}

#sidebar ul li.active > a, a[aria-expanded=true] {
color: #000 !important;
    background: #fff;
}

a[data-toggle=collapse] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;

}
#sidebarCollapse{
  position: absolute;
    margin-left: -66px;
    background: #3421c0;
    color: #fff;
    font-size: 25px;
    border-radius: 50%;
    border: 2px solid #fff;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;

}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #6b6b6b;
  color: #ffcc19;
}

a.article,
a.article:hover {
  background: #e5b200 !important;
  color: #6b6b6b !important;
}
ul.collapse li{
  margin: 0 !important;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}
.sidebar {
  width: 230px;
  -moz-transition: width 0.5s ease-out;
  -o-transition: width 0.5s ease-out;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
  display: inline-block;
  z-index: 0;
}

.sidebar ul li a span.fa {
  font-size: 20px;
}

.menuText {
  left: 50px;
  opacity: 1;
  -moz-transition: opacity 0.6s 0.2s ease-out;
  -o-transition: opacity 0.6s 0.2s ease-out;
  -webkit-transition: opacity 0.6s 0.2s ease-out;
  transition: opacity 0.6s 0.2s ease-out;
  position: absolute;
}

.collapseToggle {
    display: block;
    cursor: pointer;
}

#toggleIcon {
  -moz-transition: transform 0.4s ease-out;
  -o-transition: transform 0.4s ease-out;
  -webkit-transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
}

.rotate {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -moz-transition: transform 0.4s ease-out;
  -o-transition: transform 0.4s ease-out;
  -webkit-transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
}

.sidebar--Collapse {
  width: 65px;
  -moz-transition: width 0.6s ease-out;
  -o-transition: width 0.6s ease-out;
  -webkit-transition: width 0.6s ease-out;
  transition: width 0.6s ease-out;
      overflow: hidden;
}
.sidebar--Collapse .menuText {
  opacity: 0;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  position: absolute;
}

.main {
  margin-left: 20px;
  -moz-transition: margin-left 0.55s ease-out;
  -o-transition: margin-left 0.55s ease-out;
  -webkit-transition: margin-left 0.55s ease-out;
  transition: margin-left 0.55s ease-out;
}

.main--slide {
  -moz-transition: margin-left 0.6s ease-out;
  -o-transition: margin-left 0.6s ease-out;
  -webkit-transition: margin-left 0.6s ease-out;
  transition: margin-left 0.6s ease-out;
  margin-left: 45px;
}
.sidebar--Collapse ul li a span.list{
  opacity: 0;
  font-size: 0px;
}
#toggleIcon{
  background: #3421c0;
  color: #fff;
  width: 30px;
  height: 30px;
  margin-left: -59px;
  z-index: 99;
  position: absolute;
  margin-top: -30px;
  top: 2.5%;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid;
}
.sidebar--Collapse ul li a.dropdown-toggle::after{
  opacity: 0;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  position: relative !important;
}

#toggleIcon {
  background: #fafbfc;
    color: #7c7a7a;
    width: 30px;
    height: 30px;
    margin-left: -80px;
    z-index: 99;
    position: relative;
    margin-top: -30px;
    top: 4%;
    line-height: 30px;
    text-align: center;
}

table.dataTable th {
  -webkit-box-sizing: content-box;
  box-sizing: border-box;
  /* word-break: break-word; */
  text-transform: capitalize;
}


.employee  .dataTables_wrapper {
  margin: 1% 2%;
  width: 1180px;
  overflow: scroll;
}


.down {
  margin: 0 0 5% 0;
}

.hrmdoc .ti.ti-pencil {
  font-size: 16px;
  color: #000000 !important;
}

.breadcrumb {
  background-color: transparent;
    color: #6c757d;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.profile-widget {
  background-color: #ffffff;
  border: 1px solid #ededed;
  margin-bottom: 30px;
  padding: 20px; 
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  /* -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2); */
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.profile-widget .profile-img {
  cursor: pointer;
  height: 80px;
  margin: 0 auto;
  position: relative;
  width: 80px;
}
.profile-widget .profile-img .avatar {
  font-size: 24px;
  height: 80px;
  line-height: 80px;
  margin: 0;
  width: 80px;
}
.avatar {
  background-color: transparent;
  color: #ffffff;
  display: inline-block;
  font-weight: 500;
  height: 34px;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 34px;
  position: relative;
  white-space: nowrap;
  margin: 0 10px 0 0;
  border-radius: 50%;
}
.avatar > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}
.profile-widget .dropdown.profile-action {
  text-align: right;
  position: absolute;
  top: 10px;
  right: 5px;
}
.profile-widget .dropdown.profile-action .action-icon {
  color: #777;
  font-size: 18px;
  display: inline-block;
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}
.mb-0 {
  margin-bottom: 0!important;
}
.card-employee {
  border: 1px solid #ededed;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.25rem;
}
.card-body-employee {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}
.row-employee {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}
.profile-view {
  position: relative;
}
.profile-view .profile-img-wrap {
  height: 120px;
  width: 120px;
  position: absolute;
}
.profile-view .profile-basic {
  margin-left: 140px;
  padding-right: 50px;
}
.profile-basic .profile-info-left {
  border-right: none;
  margin: 0 0 20px;
  padding: 0 0 20px;
}
.profile-view .profile-basic .profile-info-left .user-name {
  color: #333333;
  font-size: 24px;
  margin-left: -1px !important;
}
.profile-view .profile-basic .profile-info-left .staff-id {
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
}
.profile-view .profile-basic .profile-info-left .staff-msg {
  margin-top: 30px;
}
.profile-view .profile-basic .profile-info-left .staff-msg .btn-custom {
  background: linear-gradient(to right, #ff9b44 0%, #fc6075 100%);
  color: #ffffff;
}
.personal-info li .title {
  color: #333333;
  float: left;
  font-weight: 500;
  margin-right: 30px;
  width: 25%;
}
.personal-info {
  list-style-type: none !important;
}
.personal-info li .text {
  color: #888888;
  display: block;
  overflow: hidden;
}
.profile-view .pro-edit {
  position: absolute;
  top: 0;
  right: 0;
}
.edit-icon {
  background-color: #eeeeee;
  border: 1px solid #e3e3e3;
  color: #bbb;
  float: right;
  font-size: 12px;
  line-height: 24px;
  min-height: 26px;
  text-align: center;
  width: 26px;
  border-radius: 24px;
}
.profile-view .profile-img-wrap img {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}
.profile-view .profile-img {
  width: 120px;
  height: 120px;
}
.row-emp {
  padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}
.row-user {
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
  flex: 0 0 auto;
  width: 41.66666667%;
}
.mb-0 {
  margin-bottom: 0!important;
}
.small {
  font-size: .875em;
}
.designation_name {
  line-height: 3.2;
  font-weight: 500;
  font-size: 12px;
}
.text-muted {
  color: #8e8e8e !important;
}
.des_name {
  float: none !important;
}
.profile-view .profile-basic .profile-info-left {
  border-right: 2px dashed #cccccc;
}
.per_class {
  width: 58.33333333%;
}
.personal-info li {
  margin-bottom: 10px;
}
.personal-info li .text .avatar-box {
  float: left;
  position: relative;
  top: -7px;
}
.avatar.avatar-xs {
  width: 24px;
  height: 24px;
}
.pro-edit {
  position: absolute;
  top: 0;
  right: 0;
}
.edit-icon {
  background-color: #eeeeee;
  border: 1px solid #e3e3e3;
  color: #bbb;
  float: right;
  font-size: 12px;
  line-height: 24px;
  min-height: 26px;
  text-align: center;
  width: 26px;
  border-radius: 24px;
}