
/* .navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
} */

/* .navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
} */
.nav-sidebar {
    margin: 10px 0px;
}
.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.text-sidebar {
  color: #6b6b6b;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {

  background: #fafbfc;
  color: #6b6b6b;
  transition: all 0.3s;
  box-shadow: 0px 0px 1px 1px #ccc;
}



#sidebar .sidebar-header {
  padding: 20px;
  background: #e5b200;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #fff;
  display: block;
}

#sidebar ul p {
  color: #6b6b6b;
  padding: 10px;
}

#sidebar ul li a {
padding: 20px;
    font-size: 0.94em;
     color: #fff;
    display: flex;
    /* align-items: center; */
    justify-content: start;
    line-height: 33px;
}
#sidebar ul li{
    margin: 0 0 0px;
}
#sidebar ul li .icon{
    font-size: 2em;
    margin-right: 30px;
}
#sidebar ul li a:hover {
    color: #000;
    background: #fff;
    text-decoration: none;
}

#sidebar ul li.active > a, a[aria-expanded=true] {
color: #000 !important;
    background: #fff;
}

a[data-toggle=collapse] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;

}
#sidebarCollapse{
  position: absolute;
    margin-left: -66px;
    background: #3421c0;
    color: #fff;
    font-size: 25px;
    border-radius: 50%;
    border: 2px solid #fff;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;

}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #6b6b6b;
  color: #ffcc19;
}

a.article,
a.article:hover {
  background: #e5b200 !important;
  color: #6b6b6b !important;
}
ul.collapse li{
  margin: 0 !important;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}
.sidebar {
  width: 230px;
  -moz-transition: width 0.5s ease-out;
  -o-transition: width 0.5s ease-out;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
  display: inline-block;
  z-index: 0;
}

.sidebar ul li a span.fa {
  font-size: 20px;
}

.menuText {
  left: 50px;
  opacity: 1;
  -moz-transition: opacity 0.6s 0.2s ease-out;
  -o-transition: opacity 0.6s 0.2s ease-out;
  -webkit-transition: opacity 0.6s 0.2s ease-out;
  transition: opacity 0.6s 0.2s ease-out;
  position: absolute;
}

.collapseToggle {
    display: block;
    cursor: pointer;
}

#toggleIcon {
  -moz-transition: transform 0.4s ease-out;
  -o-transition: transform 0.4s ease-out;
  -webkit-transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
}

.rotate {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -moz-transition: transform 0.4s ease-out;
  -o-transition: transform 0.4s ease-out;
  -webkit-transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
}

.sidebar--Collapse {
  width: 65px;
  -moz-transition: width 0.6s ease-out;
  -o-transition: width 0.6s ease-out;
  -webkit-transition: width 0.6s ease-out;
  transition: width 0.6s ease-out;
      overflow: hidden;
}
.sidebar--Collapse .menuText {
  opacity: 0;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  position: absolute;
}

.main {
  margin-left: 20px;
  -moz-transition: margin-left 0.55s ease-out;
  -o-transition: margin-left 0.55s ease-out;
  -webkit-transition: margin-left 0.55s ease-out;
  transition: margin-left 0.55s ease-out;
}

.main--slide {
  -moz-transition: margin-left 0.6s ease-out;
  -o-transition: margin-left 0.6s ease-out;
  -webkit-transition: margin-left 0.6s ease-out;
  transition: margin-left 0.6s ease-out;
  margin-left: 45px;
}
.sidebar--Collapse ul li a span.list{
  opacity: 0;
  font-size: 0px;
}
#toggleIcon{
  background: #3421c0;
  color: #fff;
  width: 30px;
  height: 30px;
  margin-left: -59px;
  z-index: 9999999;
  position: absolute;
  margin-top: -30px;
  top: 2.5%;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid;
}
.sidebar--Collapse ul li a.dropdown-toggle::after{
  opacity: 0;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  position: relative !important;
}

#toggleIcon {
  background: #fafbfc;
    color: #7c7a7a;
    width: 30px;
    height: 30px;
    margin-left: -80px;
    z-index: 9999999;
    position: absolute;
    margin-top: -30px;
    top: 4%;
    line-height: 30px;
    text-align: center;
}

.employee table.dataTable td, table.dataTable th {
  -webkit-box-sizing: content-box;
  box-sizing: border-box;
  /* word-break: break-word; */
  text-transform: capitalize;
}


.employee  .dataTables_wrapper {
  margin: 1% 2%;
  width: 1180px;
  overflow: scroll;
}


.down {
  margin: 0 0 5% 0;
}

.hrmdoc .ti.ti-pencil {
  font-size: 16px;
  color: #000000 !important;
}
